@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.inputs{

  padding:0rem;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:stretch;
  height:calc(100% - 48px - 177px - 32px);
  max-width:960px;

  textarea{
    font-family: 'IBM Plex Mono', monospace;
    width:100%;
    border:none;
    padding:1rem;
  }
}