.counter {
  min-width: 16rem;
  min-height: 9rem;
  border-right: solid 1px #c8c8c8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;

  .counter-label {
    color:#3c3c3c;
  }

  .counter-value {
    font-size: 5rem;
    line-height:5rem;
    font-weight:300;
  }
}
