@import "carbon-components/css/carbon-components.min.css";

html,
body,
#root,
.app-container {
  height: 100%;
}

.root {
}

.app-container {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
}

.app-header-wrap {
  height: 48px;
}

.footer {
  background-color: #171717;
  height: 48px;
  color: #ececec;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1rem;
}
